body {
  background-color:#FFF;
}

table.metrics td.left {
  text-align: left;
}

table.metrics td.right {
  text-align: right;
}

table.metrics tr.odd {
  background-color: #FFF;
}

table.metrics tr.even {
  background-color: #E2E4FF;
}

table.metrics th {
  background-color:#D3D6FF;
}

table {
  font-family:"Courier New", Courier, monospace;
  border-collapse:collapse;
  padding:3px 5px 2px 5px;
}

th {
  background-color:#D3D6FF;
  font-size:1.1em;
  text-align:center;
  padding:3px 7px 2px 7px;
  border:1px solid #AAA;
}

#tokens {
  background-color:#FFF;
}

td {
  font-size:1em;
  padding:3px 7px 2px 7px;
  border:1px solid #DDD;
}

div.left {
  width:900px;
  float:left;
}

div.right {
  top:10px;
  left:900px;
  right:10px;
  position:absolute;
  float:left;
}

div.full {
  width: 100%;
  border: 3px yellow;
}

#tooltip {
  position:absolute;
  width:                 auto;
  height:                auto;
  padding:               10px;
  color:                black;
  -webkit-border-radius: 10px;
  -moz-border-radius:    10px;
  border-radius:         10px;
  border:                 1px;
  pointer-events:        none;
  z-index:               9999;
  opacity:               0.90;
  -webkit-box-shadow:     4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:        4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow:             4px 4px 10px rgba(0, 0, 0, 0.4);
}
      
#tooltip.hidden {
  display: none;
}
      
#tooltip p {
 margin: 0;
 font-family: courier, monospace;
 font-size: 16px;
 line-height: 20px;
}
